In [1]:
import pandas as pd

from pysus.ftp.databases.sih import SIH

In [2]:
SIH = SIH().load()

SIH.metadata

{'long_name': 'Sistema de Informações Hospitalares',
 'source': ('https://datasus.saude.gov.br/acesso-a-informacao/morbidade-hospitalar-do-sus-sih-sus/',
  'https://datasus.saude.gov.br/acesso-a-informacao/producao-hospitalar-sih-sus/'),
 'description': 'A finalidade do AIH (Sistema SIHSUS) é a de transcrever todos os atendimentos que provenientes de internações hospitalares que foram financiadas pelo SUS, e após o processamento, gerarem relatórios para os gestores que lhes possibilitem fazer os pagamentos dos estabelecimentos de saúde. Além disso, o nível Federal recebe mensalmente uma base de dados de todas as internações autorizadas (aprovadas ou não para pagamento) para que possam ser repassados às Secretarias de Saúde os valores de Produção de Média e Alta complexidade além dos valores de CNRAC, FAEC e de Hospitais Universitários – em suas variadas formas de contrato de gestão.'}

### Parâmetros para download

In [3]:
grupo = "RD"

uf = "SP"

ano = 2014

mes = [1, 2]

In [4]:
files = SIH.get_files(grupo, uf, ano, mes)

files

[RDSP1401.dbc, RDSP1402.dbc]

In [5]:
nomes = []
mes = []

for file in files:
    nomes.append(file.name)
    mes.append(file.__dict__)
    
mes

[{'name': 'RDSP1401',
  'extension': '.dbc',
  'basename': 'RDSP1401.dbc',
  'path': '/dissemin/publicos/SIHSUS/200801_/Dados/RDSP1401.dbc',
  'parent_path': '/dissemin/publicos/SIHSUS/200801_/Dados',
  '__info__': {'size': '15145100',
   'type': 'file',
   'modify': datetime.datetime(2015, 10, 5, 12, 2)}},
 {'name': 'RDSP1402',
  'extension': '.dbc',
  'basename': 'RDSP1402.dbc',
  'path': '/dissemin/publicos/SIHSUS/200801_/Dados/RDSP1402.dbc',
  'parent_path': '/dissemin/publicos/SIHSUS/200801_/Dados',
  '__info__': {'size': '14677756',
   'type': 'file',
   'modify': datetime.datetime(2015, 10, 5, 12, 2)}}]

In [6]:
downloads = SIH.download(files, local_dir=f"/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/parquet/{ano}")

RDSP1401.dbc:   0%|          | 0.00/15.1M [00:00<?, ?B/s]

RDSP1412.parquet: 100%|██████████| 680k/680k [01:03<00:00, 10.7kB/s]

In [17]:
num = 0 # Escolha o arquivo que deseja baixar; baixar em loop estava dando problemas

df = downloads[num].to_dataframe()
df.to_csv(f"/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/2014/{nomes[num]}.csv", sep = ';', encoding='ISO-8859-1', index = False)

print(f"Arquivo {nomes[num]} baixado com sucesso!")

Arquivo RDSP1401 baixado com sucesso!

In [5]:
df = pd.read_parquet('/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/parquet/2021/RDSP2102.parquet')

df

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,354870,2021,02,01,,3521109627783,1,09857130,354870,19631227,...,,0,0,0,0,0,0,0,0,0
1,354870,2021,02,01,,3521109627860,1,09841125,354870,19530527,...,,0,0,0,0,0,0,0,0,0
2,354870,2021,02,01,,3521109628014,1,05116060,355030,19800923,...,,1,0,0,0,0,0,0,0,0
3,354870,2021,02,01,,3521109628025,1,04425000,355030,20001013,...,,1,0,0,0,0,0,0,0,0
4,354870,2021,02,01,,3521109630137,1,09785200,354870,20020313,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191115,350000,2021,02,01,46374500011552,3521101922877,1,05796100,355030,19750721,...,,0,0,0,0,0,0,0,0,0
191116,350000,2021,02,01,46374500011552,3521101924802,1,03204060,355030,19600420,...,,0,0,0,0,0,0,0,0,0
191117,350000,2021,02,01,46374500011552,3521101924945,1,04209000,355030,19640417,...,,0,0,0,0,0,0,0,0,0
191118,350000,2021,02,01,46374500011552,3521101924956,1,04351050,355030,19630317,...,,0,0,0,0,0,0,0,0,0
191119,350000,2021,02,03,46374500011552,3521101921502,1,04243200,355030,19311104,...,,0,0,0,0,0,0,0,0,0

In [6]:
df2 = pd.read_csv('/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/2021/RDSP2102.csv', sep = ';', encoding='ISO-8859-1')

df2

/tmp/ipykernel_4508/3038698544.py:1: DtypeWarning: Columns (87,88,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/2021/RDSP2102.csv', sep = ';', encoding='ISO-8859-1')

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,350550,2021,2,1,4.478278e+13,3521108726366,1,14780190,350550,19420525,...,NaN,1,0,0,0,0,0,0,0,0
1,350550,2021,2,1,4.478278e+13,3521108726377,1,14780220,350550,19571010,...,NaN,1,0,0,0,0,0,0,0,0
2,350550,2021,2,1,4.478278e+13,3521108726399,1,14790000,351740,19350419,...,NaN,1,0,0,0,0,0,0,0,0
3,350550,2021,2,1,4.478278e+13,3521108726400,1,14784250,350550,19460524,...,NaN,1,0,0,0,0,0,0,0,0
4,350550,2021,2,1,4.478278e+13,3521108726410,1,14783094,350550,19710122,...,NaN,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191115,350550,2021,2,1,4.478278e+13,3521108718700,1,14784256,350550,19590709,...,NaN,1,0,0,0,0,0,0,0,0
191116,350550,2021,2,1,4.478278e+13,3521108718842,1,14770000,351200,19470518,...,NaN,1,0,0,0,0,0,0,0,0
191117,350550,2021,2,1,4.478278e+13,3521108718864,1,14730000,353150,19521005,...,NaN,1,0,0,0,0,0,0,0,0
191118,350550,2021,2,1,4.478278e+13,3521108718985,1,14780060,350550,19930703,...,NaN,1,0,0,0,0,0,0,0,0
191119,350550,2021,2,1,4.478278e+13,3521108718996,1,14781020,350550,19920407,...,NaN,1,0,0,0,0,0,0,0,0