In [1]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
class tabela_cheia:
    def __init__(self, namebd):
        self.nome_tabela = namebd
        
        self.colunas = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA', 'CEP', 'MUNIC_RES', 'MUNIC_MOV', 
                        'CGC_HOSP', 'CNES', 'NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 
                        'RACA_COR', 'ETNIA', 'CBOR', 'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 
                        'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP',
                        'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 
                        'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
        
    def __str__(self):
        return f'Tabela {self.nome_tabela}'
    
    def cria_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela in metadata.tables:
            print(f'Tabela {self.nome_tabela} já existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).create(conn)
        
    def insere_dados(self, df, conn):
        df.to_sql(self.nome_tabela, conn, if_exists='append', index=False, dtype={
            'ANO_CMPT': sa.VARCHAR(4),
            'MES_CMPT': sa.VARCHAR(2),
            'DT_INTER': sa.VARCHAR(8),
            'DT_SAIDA': sa.VARCHAR(8),
            'CEP': sa.VARCHAR(8),
            'MUNIC_RES': sa.VARCHAR(6),
            'MUNIC_MOV': sa.VARCHAR(6),
            'CGC_HOSP': sa.VARCHAR(16),
            'CNES': sa.VARCHAR(7),
            'NASC': sa.VARCHAR(8),
            'SEXO': sa.VARCHAR(1),
            'IDADE': sa.NUMERIC(2),
            'COD_IDADE': sa.VARCHAR(1),
            'NACIONAL': sa.VARCHAR(3),
            'INSTRU': sa.VARCHAR(1),
            'RACA_COR': sa.VARCHAR(2),
            'ETNIA': sa.VARCHAR(4),
            'CBOR': sa.VARCHAR(6),
            'MORTE': sa.NUMERIC(1),
            'UTI_MES_TO': sa.NUMERIC(3),
            'MARCA_UTI': sa.VARCHAR(2),
            'VAL_UTI': sa.NUMERIC(9,2),
            'PROC_SOLIC': sa.VARCHAR(10),
            'PROC_REA': sa.VARCHAR(10),
            'VAL_SH': sa.NUMERIC(13,2),
            'VAL_SP': sa.NUMERIC(13,2),
            'N_AIH': sa.VARCHAR(13),
            'VAL_TOT': sa.NUMERIC(14,2),
            'INFEHOSP': sa.VARCHAR(1),
            'DIAG_PRINC': sa.VARCHAR(4),
            'DIAG_SECUN': sa.VARCHAR(4),
            'DIAGSEC1': sa.VARCHAR(4),
            'DIAGSEC2': sa.VARCHAR(4),
            'DIAGSEC3': sa.VARCHAR(4),
            'DIAGSEC4': sa.VARCHAR(4),
            'DIAGSEC5': sa.VARCHAR(4),
            'DIAGSEC6': sa.VARCHAR(4),
            'DIAGSEC7': sa.VARCHAR(4),
            'DIAGSEC8': sa.VARCHAR(4),
            'DIAGSEC9': sa.VARCHAR(4),
            'CID_MORTE': sa.VARCHAR(4),
            'CID_ASSO': sa.VARCHAR(4)}
        )
        
    def remove_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela not in metadata.tables:
            print(f'Tabela {self.nome_tabela} não existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).drop(conn)

In [ ]:
class fatos:
    def __init__(self, nome_fato):
        lista_fatos = ['Fato Internação', 'Fato Procedimento', 'Fato Diagnóstico', 'Fato Atendimento']
        
        if nome_fato not in lista_fatos:
            raise ValueError('Atributo inválido.')
        else:
            self.fato = nome_fato
            
            
        # A criação dos fatos ainda não foi pensada de forma completa. Fiz apenas um escopo inicial.
        self.atributos = []
        if self.fato == 'Fato Internação':
            self.atributos = ['N_AIH', 'UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH5', 'IDENT', 'CEP', 
                              'MUNIC_RES', 'NASC', 'SEXO', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 'DIAG_PRINC', 'DIAG_SECUN', 
                              'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 
                              'DIAGSEC9', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT']
        elif self.fato == 'Fato Procedimento':
            self.atributos = ['N_AIH', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT']
        elif self.fato == 'Fato Diagnóstico':
            self.atributos = ['N_AIH', 'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 
                              'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9']
        elif self.fato == 'Fato Atendimento':
            self.atributos = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER',' DT_SAIDA', 'CEP', 'CNES', 'IDADE', 'COD_IDADE', 'SEXO', 
                              'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT',
                              'DIAG_PRINC', 'DIAG_SECUN', 'CID_MORTE', 'CID_ASSO']
            
    def __str__(self):
        return f'Tabela de {self.fato}'
    
    def get_fato(self):
        return self.fato
    
    def get_atributos(self):
        return self.atributos
    
    def cria_fato(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb in metadata.tables:
            print(f'Tabela {namedb} já existe.')
            return
        
        if self.fato == 'Fato Internação':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('UF_ZI', sa.VARCHAR(2)),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('ESPEC', sa.VARCHAR(2)),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('N_AIH5', sa.VARCHAR(13)),
                    sa.Column('IDENT', sa.VARCHAR(2)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).create(conn)
            
        elif self.fato == 'Fato Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).create(conn)
            
        elif self.fato == 'Fato Diagnóstico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4))
            ).create(conn)
            
        elif self.fato == 'Fato Atendimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('CNES', sa.VARCHAR(7)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('MORTE', sa.NUMERIC(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).create(conn)
            
        else:
            raise ValueError('Essa tabela não é de fato conhecido.')
        
    def insere_dados(self, df, conn, namedb):
        if self.fato == 'Fato Internação':
            self.insere_dados_internacao(df, conn, namedb)
        elif self.fato == 'Fato Procedimento':
            self.insere_dados_procedimento(df, conn, namedb)
        elif self.fato == 'Fato Diagnóstico':
            self.insere_dados_diagnostico(df, conn, namedb)
        elif self.fato == 'Fato Atendimento':
            self.insere_dados_atendimento(df, conn, namedb)
        else:
            raise ValueError('Essa tabela não é de fato conhecido.')
            
    def insere_dados_internacao(self, df, conn, namedb):
        if self.fato == 'Fato Internação':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'UF_ZI': sa.VARCHAR(2),
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'ESPEC': sa.VARCHAR(2),
                'CGC_HOSP': sa.VARCHAR(16),
                'N_AIH5': sa.VARCHAR(13),
                'IDENT': sa.VARCHAR(2),
                'CEP': sa.VARCHAR(8),
                'MUNIC_RES': sa.VARCHAR(6),
                'NASC': sa.VARCHAR(8),
                'SEXO': sa.VARCHAR(1),
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'VAL_UTI': sa.NUMERIC(9,2),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2)}
            )
        else:
            raise ValueError('Essa tabela não é de fato internação.')
            
    def insere_dados_procedimento(self, df, conn, namedb):
        if self.fato == 'Fato Procedimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2)}
            )
        else:
            raise ValueError('Essa tabela não é de fato procedimento.')
            
    def insere_dados_diagnostico(self, df, conn, namedb):
        if self.fato == 'Fato Diagnóstico':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela não é de fato diagnóstico.')
            
    def insere_dados_atendimento(self, df, conn, namedb):
        if self.fato == 'Fato Atendimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'DT_INTER': sa.VARCHAR(8),
                'DT_SAIDA': sa.VARCHAR(8),
                'CEP': sa.VARCHAR(8),
                'CNES': sa.VARCHAR(7),
                'IDADE': sa.NUMERIC(2),
                'COD_IDADE': sa.VARCHAR(1),
                'SEXO': sa.VARCHAR(1),
                'MORTE': sa.NUMERIC(1),
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'CID_MORTE': sa.VARCHAR(4),
                'CID_ASSO': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela não é de fato atendimento.')
    
    def remove_fato(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} não existe.')
            return
        
        if self.fato == 'Fato Internação':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('UF_ZI', sa.VARCHAR(2)),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('ESPEC', sa.VARCHAR(2)),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('N_AIH5', sa.VARCHAR(13)),
                    sa.Column('IDENT', sa.VARCHAR(2)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).drop(conn)
            
        elif self.fato == 'Fato Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).drop(conn)
            
        elif self.fato == 'Fato Diagnóstico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4))
            ).drop(conn)
            
        elif self.fato == 'Fato Atendimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('CNES', sa.VARCHAR(7)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('MORTE', sa.NUMERIC(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).drop(conn)
            
        else:
            raise ValueError('Essa tabela não é de fato conhecido.')

In [3]:
class Dimensoes:
    def __init__(self, dimensao):
        self.lista_dimensoes = {
            'Dimensão Tempo': ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA'],
            'Dimensão Localização': ['CEP', 'MUNIC_RES', 'MUNIC_MOV'],
            'Dimensão Hospital': ['CGC_HOSP', 'CNES'],
            'Dimensão Paciente': ['NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 
                                  'INSTRU', 'RACA_COR', 'ETNIA', 'CBOR', 'MORTE'],
            'Dimensão UTI': ['UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI'],
            'Dimensão Procedimento': ['PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 
                                      'N_AIH', 'VAL_TOT', 'INFEHOSP'],
            'Dimensão Diagnóstico': ['DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 
                                     'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 
                                     'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
        }
        
        if dimensao not in self.lista_dimensoes:
            raise ValueError('Dimensão inválida.')
        
        self.dimensao = dimensao
        self.colunas = self.lista_dimensoes[dimensao]

    def __str__(self):
        return f'Tabela de {self.dimensao}'
    
    def get_dimensao(self):
        return self.dimensao
    
    def get_colunas(self):
        return self.colunas
    
    def insere_dados(self, df, conn, namedb):
        """ Insere os dados da dimensão no banco de dados """
        if self.dimensao not in self.lista_dimensoes:
            raise ValueError('Essa tabela não é de dimensão conhecida.')

        dtype_map = {
            'VARCHAR': lambda x: sa.VARCHAR(x),
            'NUMERIC': lambda x, y=0: sa.NUMERIC(x, y)
        }
        
        tipos = {
            'Dimensão Tempo': {'ANO_CMPT': ('VARCHAR', 4), 'MES_CMPT': ('VARCHAR', 2),
                               'DT_INTER': ('VARCHAR', 8), 'DT_SAIDA': ('VARCHAR', 8)},
            'Dimensão Localização': {'CEP': ('VARCHAR', 8), 'MUNIC_RES': ('VARCHAR', 6),
                                     'MUNIC_MOV': ('VARCHAR', 6)},
            'Dimensão Hospital': {'CGC_HOSP': ('VARCHAR', 16), 'CNES': ('VARCHAR', 7)},
            'Dimensão Paciente': {'NASC': ('VARCHAR', 8), 'SEXO': ('VARCHAR', 1),
                                  'IDADE': ('NUMERIC', 2), 'COD_IDADE': ('VARCHAR', 1),
                                  'NACIONAL': ('VARCHAR', 3), 'INSTRU': ('VARCHAR', 1),
                                  'RACA_COR': ('VARCHAR', 2), 'ETNIA': ('VARCHAR', 4),
                                  'CBOR': ('VARCHAR', 6), 'MORTE': ('NUMERIC', 1)},
            'Dimensão UTI': {'UTI_MES_TO': ('NUMERIC', 3), 'MARCA_UTI': ('VARCHAR', 2),
                             'VAL_UTI': ('NUMERIC', 9, 2)},
            'Dimensão Procedimento': {'PROC_SOLIC': ('VARCHAR', 10), 'PROC_REA': ('VARCHAR', 10),
                                      'VAL_SH': ('NUMERIC', 13, 2), 'VAL_SP': ('NUMERIC', 13, 2),
                                      'N_AIH': ('VARCHAR', 13), 'VAL_TOT': ('NUMERIC', 14, 2),
                                      'INFEHOSP': ('VARCHAR', 1)},
            'Dimensão Diagnóstico': {'DIAG_PRINC': ('VARCHAR', 4), 'DIAG_SECUN': ('VARCHAR', 4),
                                     'DIAGSEC1': ('VARCHAR', 4), 'DIAGSEC2': ('VARCHAR', 4),
                                     'DIAGSEC3': ('VARCHAR', 4), 'DIAGSEC4': ('VARCHAR', 4),
                                     'DIAGSEC5': ('VARCHAR', 4), 'DIAGSEC6': ('VARCHAR', 4),
                                     'DIAGSEC7': ('VARCHAR', 4), 'DIAGSEC8': ('VARCHAR', 4),
                                     'DIAGSEC9': ('VARCHAR', 4), 'CID_MORTE': ('VARCHAR', 4),
                                     'CID_ASSO': ('VARCHAR', 4)}
        }

        df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
            col: dtype_map[tipo[0]](*tipo[1:]) for col, tipo in tipos[self.dimensao].items()
        })
    
    def cria_tabela(self, conn, namedb):
        """ Cria a tabela no banco de dados se não existir """
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb in metadata.tables:
            print(f'Tabela {namedb} já existe.')
            return
        
        tipos = {
            'Dimensão Tempo': [('ANO_CMPT', sa.VARCHAR(4)), ('MES_CMPT', sa.VARCHAR(2)),
                               ('DT_INTER', sa.VARCHAR(8)), ('DT_SAIDA', sa.VARCHAR(8))],
            'Dimensão Localização': [('CEP', sa.VARCHAR(8)), ('MUNIC_RES', sa.VARCHAR(6)),
                                     ('MUNIC_MOV', sa.VARCHAR(6))],
            'Dimensão Hospital': [('CGC_HOSP', sa.VARCHAR(16)), ('CNES', sa.VARCHAR(7))],
            'Dimensão Paciente': [('NASC', sa.VARCHAR(8)), ('SEXO', sa.VARCHAR(1)),
                                  ('IDADE', sa.NUMERIC(2)), ('COD_IDADE', sa.VARCHAR(1)),
                                  ('NACIONAL', sa.VARCHAR(3)), ('INSTRU', sa.VARCHAR(1)),
                                  ('RACA_COR', sa.VARCHAR(2)), ('ETNIA', sa.VARCHAR(4)),
                                  ('CBOR', sa.VARCHAR(6)), ('MORTE', sa.NUMERIC(1))],
        }
        
        tabela = sa.Table(
            namedb, sa.MetaData(),
            *[sa.Column(col, tipo) for col, tipo in tipos[self.dimensao]]
        )
        
        tabela.create(conn)
        print(f'Tabela {namedb} criada com sucesso.')

In [4]:
# Configurações do banco de dados presentes no meu computador
usuario = 'postgres'
senha = 'dan313852*'
host = 'localhost'
porta = '5432'
banco_de_dados = 'fato_hospital'

# URL de conexão
url = f"postgresql://{usuario}:{senha}@{host}:{porta}/{banco_de_dados}"

# Criar o engine
engine = sa.create_engine(url)

# Teste a conexão
try:
    connection = engine.connect()
    print("Conexão bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")
finally:
    connection.close()

Conexão bem-sucedida!

In [4]:
df = pd.read_csv('/home/ferdanielinux/desktop-linux/scripts-python/proj-aires/Dados/SIH/csv/concat/concat_RDSP02_filtered.csv', sep=';', encoding='latin1')

In [5]:
df.head()

,ANO_CMPT,MES_CMPT,DT_INTER,DT_SAIDA,CEP,MUNIC_RES,MUNIC_MOV,CGC_HOSP,CNES,NASC,...,DIAGSEC2,DIAGSEC3,DIAGSEC4,DIAGSEC5,DIAGSEC6,DIAGSEC7,DIAGSEC8,DIAGSEC9,CID_MORTE,CID_ASSO
0,2014,2,20140130,20140131,11025011,354850,354850,,2042894,19510427,...,,,,,,,,,,
1,2014,2,20140105,20140107,5305000,355030,355030,63025530008512,2076926,19920220,...,,,,,,,,,,
2,2014,2,20140128,20140131,5735070,355030,355030,46392148003054,2786680,19990528,...,,,,,,,,,,
3,2014,2,20140205,20140205,14093150,354340,354340,57722118000140,2082187,20070813,...,,,,,,,,,,
4,2014,2,20140122,20140205,12910000,350760,350760,53221255005100,2704900,20140122,...,,,,,,,,,,

In [14]:
tabela_fato = fatos('Fato Atendimento')

In [15]:
df_atendimento = df.filter(items = tabela_fato.get_atributos())

In [16]:
tabela_fato.cria_fato(engine, 'fato_atendimento')

In [17]:
tabela_fato.insere_dados(df_atendimento, engine, 'fato_atendimento')

In [13]:
tabela_fato.remove_fato(engine, 'fato_atendimento')

### Consultas em sql

1. Valor total
```sql
SELECT *
FROM my_test.public.FATO_ATENDIMENTO
WHERE "DIAG_PRINC" = 'A021' OR "DIAG_SECUN" = 'A021'
   OR "DIAG_PRINC" = 'A039' OR "DIAG_SECUN" = 'A039'
   OR "DIAG_PRINC" = 'A207' OR "DIAG_SECUN" = 'A207'
   OR "DIAG_PRINC" = 'A217' OR "DIAG_SECUN" = 'A217'
   OR "DIAG_PRINC" = 'A227' OR "DIAG_SECUN" = 'A227'
   OR "DIAG_PRINC" = 'A239' OR "DIAG_SECUN" = 'A239'
   OR "DIAG_PRINC" = 'A241' OR "DIAG_SECUN" = 'A241'
   OR "DIAG_PRINC" = 'A267' OR "DIAG_SECUN" = 'A267'
   OR "DIAG_PRINC" = 'A280' OR "DIAG_SECUN" = 'A280'
   OR "DIAG_PRINC" = 'A282' OR "DIAG_SECUN" = 'A282'
   OR "DIAG_PRINC" = 'A327' OR "DIAG_SECUN" = 'A327'
   OR "DIAG_PRINC" = 'A392' OR "DIAG_SECUN" = 'A392'
   OR "DIAG_PRINC" = 'A393' OR "DIAG_SECUN" = 'A393'
   OR "DIAG_PRINC" = 'A394' OR "DIAG_SECUN" = 'A394'
   OR "DIAG_PRINC" = 'A40'  OR "DIAG_SECUN" = 'A40'
   OR "DIAG_PRINC" = 'A400' OR "DIAG_SECUN" = 'A400'
   OR "DIAG_PRINC" = 'A401' OR "DIAG_SECUN" = 'A401'
   OR "DIAG_PRINC" = 'A402' OR "DIAG_SECUN" = 'A402'
   OR "DIAG_PRINC" = 'A403' OR "DIAG_SECUN" = 'A403'
   OR "DIAG_PRINC" = 'A408' OR "DIAG_SECUN" = 'A408'
   OR "DIAG_PRINC" = 'A409' OR "DIAG_SECUN" = 'A409'
   OR "DIAG_PRINC" = 'A41'  OR "DIAG_SECUN" = 'A41'
   OR "DIAG_PRINC" = 'A410' OR "DIAG_SECUN" = 'A410'
   OR "DIAG_PRINC" = 'A411' OR "DIAG_SECUN" = 'A411'
   OR "DIAG_PRINC" = 'A412' OR "DIAG_SECUN" = 'A412'
   OR "DIAG_PRINC" = 'A413' OR "DIAG_SECUN" = 'A413'
   OR "DIAG_PRINC" = 'A414' OR "DIAG_SECUN" = 'A414'
   OR "DIAG_PRINC" = 'A415' OR "DIAG_SECUN" = 'A415'
   OR "DIAG_PRINC" = 'A418' OR "DIAG_SECUN" = 'A418'
   OR "DIAG_PRINC" = 'A419' OR "DIAG_SECUN" = 'A419'
   OR "DIAG_PRINC" = 'A427' OR "DIAG_SECUN" = 'A427'
   OR "DIAG_PRINC" = 'B007' OR "DIAG_SECUN" = 'B007'
   OR "DIAG_PRINC" = 'B377' OR "DIAG_SECUN" = 'B377'
   OR "DIAG_PRINC" = 'P352' OR "DIAG_SECUN" = 'P352'
   OR "DIAG_PRINC" = 'P36'  OR "DIAG_SECUN" = 'P36'
   OR "DIAG_PRINC" = 'P360' OR "DIAG_SECUN" = 'P360'
   OR "DIAG_PRINC" = 'P361' OR "DIAG_SECUN" = 'P361'
   OR "DIAG_PRINC" = 'P362' OR "DIAG_SECUN" = 'P362'
   OR "DIAG_PRINC" = 'P363' OR "DIAG_SECUN" = 'P363'
   OR "DIAG_PRINC" = 'P364' OR "DIAG_SECUN" = 'P364'
   OR "DIAG_PRINC" = 'P365' OR "DIAG_SECUN" = 'P365'
   OR "DIAG_PRINC" = 'P368' OR "DIAG_SECUN" = 'P368'
   OR "DIAG_PRINC" = 'P369' OR "DIAG_SECUN" = 'P369'
   OR "DIAG_PRINC" = 'P372' OR "DIAG_SECUN" = 'P372'
   OR "DIAG_PRINC" = 'P375' OR "DIAG_SECUN" = 'P375';
```

2. Quantidade de CIDs por ano
```sql
Ainda falta consertar
SELECT "ANO_CMPT", COUNT(*) AS NUM_INTERNACOES
FROM fato_atendimento
GROUP BY "ANO_CMPT";
```