# Teste Fato Hospital
Tentativa de fazer uma tabela fato simples para hospitais.

In [1]:
import pandas as pd
import sqlalchemy as sa

In [10]:
path_file_csv = r'C:\Users\Fernando\Documents\CEPID - Projeto ARIES\Dados\SIH\csv\2022\RDSP2202.csv'

# Aplicando a mudanÃ§a do \ por / para evitar erro de leitura do arquivo
path_file_csv = path_file_csv.replace('\\', '/')

# Lendo o arquivo CSV
df = pd.read_csv(path_file_csv, sep=';', encoding='latin1')

df.head(10)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_1260\1757061147.py:7: DtypeWarning: Columns (87,88,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_file_csv, sep=';', encoding='latin1')

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,350420,2022,2,3,4.442524e+13,3522106965575,1,15350000,350420,19560110,...,NaN,2,0,0,0,0,0,0,0,0
1,350420,2022,2,3,4.442524e+13,3522106965586,1,15350000,350420,20051111,...,NaN,2,0,0,0,0,0,0,0,0
2,350420,2022,2,3,4.442524e+13,3522106965597,1,15350000,350420,19611130,...,NaN,2,0,0,0,0,0,0,0,0
3,350420,2022,2,3,4.442524e+13,3522106965608,1,15350000,350420,19300513,...,NaN,2,0,0,0,0,0,0,0,0
4,350420,2022,2,3,4.442524e+13,3522106965619,1,15350000,350420,19800130,...,NaN,2,0,0,0,0,0,0,0,0
5,350420,2022,2,3,4.442524e+13,3522106965620,1,15350000,350420,19541225,...,NaN,2,0,0,0,0,0,0,0,0
6,350420,2022,2,3,4.442524e+13,3522106965718,1,15350000,350420,19300513,...,NaN,2,0,0,0,0,0,0,0,0
7,350420,2022,2,3,4.442524e+13,3522106965729,1,15350000,350420,19810602,...,NaN,2,0,0,0,0,0,0,0,0
8,350420,2022,2,3,4.442524e+13,3522106965730,1,15350000,350420,19620214,...,NaN,2,0,0,0,0,0,0,0,0
9,350420,2022,2,3,4.442524e+13,3522106965751,1,15350000,350420,19340330,...,NaN,2,0,0,0,0,0,0,0,0

In [11]:
class tabela_cheia:
    def __init__(self, namebd):
        self.nome_tabela = namebd
        
        self.colunas = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA', 'CEP', 'MUNIC_RES', 'MUNIC_MOV', 
                        'CGC_HOSP', 'CNES', 'NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 
                        'RACA_COR', 'ETNIA', 'CBOR', 'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 
                        'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP',
                        'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 
                        'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
        
    def __str__(self):
        return f'Tabela {self.nome_tabela}'
    
    def get_colunas(self):
        return self.colunas
    
    def cria_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela in metadata.tables:
            print(f'Tabela {self.nome_tabela} jÃ¡ existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).create(conn)
        
    def insere_dados(self, df, conn):
        df.to_sql(self.nome_tabela, conn, if_exists='append', index=False, dtype={
            'ANO_CMPT': sa.VARCHAR(4),
            'MES_CMPT': sa.VARCHAR(2),
            'DT_INTER': sa.VARCHAR(8),
            'DT_SAIDA': sa.VARCHAR(8),
            'CEP': sa.VARCHAR(8),
            'MUNIC_RES': sa.VARCHAR(6),
            'MUNIC_MOV': sa.VARCHAR(6),
            'CGC_HOSP': sa.VARCHAR(16),
            'CNES': sa.VARCHAR(7),
            'NASC': sa.VARCHAR(8),
            'SEXO': sa.VARCHAR(1),
            'IDADE': sa.NUMERIC(2),
            'COD_IDADE': sa.VARCHAR(1),
            'NACIONAL': sa.VARCHAR(3),
            'INSTRU': sa.VARCHAR(1),
            'RACA_COR': sa.VARCHAR(2),
            'ETNIA': sa.VARCHAR(4),
            'CBOR': sa.VARCHAR(6),
            'MORTE': sa.NUMERIC(1),
            'UTI_MES_TO': sa.NUMERIC(3),
            'MARCA_UTI': sa.VARCHAR(2),
            'VAL_UTI': sa.NUMERIC(9,2),
            'PROC_SOLIC': sa.VARCHAR(10),
            'PROC_REA': sa.VARCHAR(10),
            'VAL_SH': sa.NUMERIC(13,2),
            'VAL_SP': sa.NUMERIC(13,2),
            'N_AIH': sa.VARCHAR(13),
            'VAL_TOT': sa.NUMERIC(14,2),
            'INFEHOSP': sa.VARCHAR(1),
            'DIAG_PRINC': sa.VARCHAR(4),
            'DIAG_SECUN': sa.VARCHAR(4),
            'DIAGSEC1': sa.VARCHAR(4),
            'DIAGSEC2': sa.VARCHAR(4),
            'DIAGSEC3': sa.VARCHAR(4),
            'DIAGSEC4': sa.VARCHAR(4),
            'DIAGSEC5': sa.VARCHAR(4),
            'DIAGSEC6': sa.VARCHAR(4),
            'DIAGSEC7': sa.VARCHAR(4),
            'DIAGSEC8': sa.VARCHAR(4),
            'DIAGSEC9': sa.VARCHAR(4),
            'CID_MORTE': sa.VARCHAR(4),
            'CID_ASSO': sa.VARCHAR(4)}
        )
        
    def remove_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela not in metadata.tables:
            print(f'Tabela {self.nome_tabela} nÃ£o existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).drop(conn)

In [20]:
class dimensoes:
    def __init__(self, dimensao):
        
        lista_dimensoes = ['DimensÃ£o Tempo', 'DimensÃ£o LocalizaÃ§Ã£o', 'DimensÃ£o Hospital', 'DimensÃ£o Paciente', 
                           'DimensÃ£o UTI', 'DimensÃ£o Procedimento', 'DimensÃ£o DiagnÃ³stico']
        
        if dimensao not in lista_dimensoes:
            raise ValueError('DimensÃ£o invÃ¡lida.')
        else:
            self.dimensao = dimensao
            
        self.colunas = []
        if self.dimensao == 'DimensÃ£o Tempo':
            self.colunas = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA']
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            self.colunas = ['CEP', 'MUNIC_RES', 'MUNIC_MOV']
        elif self.dimensao == 'DimensÃ£o Hospital':
            self.colunas = ['CGC_HOSP', 'CNES']
        elif self.dimensao == 'DimensÃ£o Paciente':
            self.colunas = ['NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 'RACA_COR', 'ETNIA', 'CBOR', 'MORTE']
        elif self.dimensao == 'DimensÃ£o UTI':
            self.colunas = ['UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI']
        elif self.dimensao == 'DimensÃ£o Procedimento':
            self.colunas = ['PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP']
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            self.colunas = ['DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 
                            'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
            
        
    def __str__(self):
        return f'Tabela de {self.dimensao}'
    
    def get_dimensao(self):
        return self.dimensao
    
    def get_colunas(self):
        return self.colunas
    
    def insere_dados(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Tempo':
            self.insere_dados_tempo(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            self.insere_dados_localizacao(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Hospital':
            self.insere_dados_hospital(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Paciente':
            self.insere_dados_paciente(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o UTI':
            self.insere_dados_uti(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            self.insere_dados_procedimento(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            self.insere_dados_diagnostico(df, conn, namedb)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def insere_dados_tempo(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Tempo':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'DT_INTER': sa.VARCHAR(8),
                'DT_SAIDA': sa.VARCHAR(8)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o tempo.')
        
    def insere_dados_localizacao(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'CEP': sa.VARCHAR(8),
                'MUNIC_RES': sa.VARCHAR(6),
                'MUNIC_MOV': sa.VARCHAR(6)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o localizaÃ§Ã£o.')
        
    def insere_dados_hospital(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Hospital':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'CGC_HOSP': sa.VARCHAR(16),
                'CNES': sa.VARCHAR(7)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o hospital.')
        
    def insere_dados_paciente(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Paciente':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'NASC': sa.VARCHAR(8),
                'SEXO': sa.VARCHAR(1),
                'IDADE': sa.NUMERIC(2),
                'COD_IDADE': sa.VARCHAR(1),
                'NACIONAL': sa.VARCHAR(3),
                'INSTRU': sa.VARCHAR(1),
                'RACA_COR': sa.VARCHAR(2),
                'ETNIA': sa.VARCHAR(4),
                'CBOR': sa.VARCHAR(6),
                'MORTE': sa.NUMERIC(1)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o paciente.')
        
    def insere_dados_uti(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o UTI':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'VAL_UTI': sa.NUMERIC(9,2)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o UTI.')
        
    def insere_dados_procedimento(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Procedimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'N_AIH': sa.VARCHAR(13),
                'VAL_TOT': sa.NUMERIC(14,2),
                'INFEHOSP': sa.VARCHAR(1)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o procedimento.')
        
    def insere_dados_diagnostico(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4),
                'CID_MORTE': sa.VARCHAR(4),
                'CID_ASSO': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o diagnÃ³stico.')
        
        
    def cria_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb in metadata.tables:
            print(f'Tabela {namedb} jÃ¡ existe.')
            return
        
        if self.dimensao == 'DimensÃ£o Tempo':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('MUNIC_MOV', sa.VARCHAR(6))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Hospital':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('CNES', sa.VARCHAR(7))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Paciente':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('NACIONAL', sa.VARCHAR(3)),
                    sa.Column('INSTRU', sa.VARCHAR(1)),
                    sa.Column('RACA_COR', sa.VARCHAR(2)),
                    sa.Column('ETNIA', sa.VARCHAR(4)),
                    sa.Column('CBOR', sa.VARCHAR(6)),
                    # sa.Column('CBOR', sa.VARCHAR(3)), // O dicionÃ¡rio estÃ¡ com 3 caracteres, mas os dados apresentam 6.
                    sa.Column('MORTE', sa.NUMERIC(1))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o UTI':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('INFEHOSP', sa.VARCHAR(1))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).create(conn)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def remove_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} nÃ£o existe.')
            return
        
        if self.dimensao == 'DimensÃ£o Tempo':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('MUNIC_MOV', sa.VARCHAR(6))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Hospital':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('CNES', sa.VARCHAR(7))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Paciente':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('NACIONAL', sa.VARCHAR(3)),
                    sa.Column('INSTRU', sa.VARCHAR(1)),
                    sa.Column('RACA_COR', sa.VARCHAR(2)),
                    sa.Column('ETNIA', sa.VARCHAR(4)),
                    sa.Column('CBOR', sa.VARCHAR(6)),
                    # sa.Column('CBOR', sa.VARCHAR(3)),
                    sa.Column('MORTE', sa.NUMERIC(1))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o UTI':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('INFEHOSP', sa.VARCHAR(1))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).drop(conn)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def limpando_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} nÃ£o existe.')
            return
        
        conn.execute(f"DELETE FROM {namedb}")

## Fazendo a conexÃ£o com o banco de dados

In [12]:
# ConfiguraÃ§Ãµes da conexÃ£o
usuario = 'postgres'
senha = 'dan313852*'
host = 'localhost'
porta = '5432'
banco_de_dados = 'fato_hospital'

# URL de conexÃ£o
url = f"postgresql://{usuario}:{senha}@{host}:{porta}/{banco_de_dados}"

# Criar o engine
engine = sa.create_engine(url)

# Teste a conexÃ£o
try:
    connection = engine.connect()
    print("ConexÃ£o bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")
finally:
    connection.close()

ConexÃ£o bem-sucedida!

## Fazendo a filtragem dos dados no df e criando a tabela fato matriz
Em seguida, vamos modificar a matriz para que ela tenha a estrutura de uma tabela fato.

In [13]:
tabela_matriz = tabela_cheia('fato_hospital')

In [14]:
df_matriz = df.filter(items=tabela_matriz.get_colunas())

In [15]:
tabela_matriz.insere_dados(df_matriz, engine)

## Criando no banco a tabela com os dados do CNES
Em seguida vou colocar um ID (PK) para cada hospital

In [5]:
path_CNES = r'C:\Users\Fernando\Documents\CEPID - Projeto ARIES\Dados\CNES\tbEstabelecimento202406.csv'

path_CNES = path_CNES.replace('\\', '/')

df_CNES = pd.read_csv(path_CNES, sep=';', encoding='latin1')

df_CNES.head(10)

C:\Users\Fernando\AppData\Local\Temp\ipykernel_1260\149911614.py:5: DtypeWarning: Columns (0,14,15,36,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_CNES = pd.read_csv(path_CNES, sep=';', encoding='latin1')

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')",CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL,ST_CONTRATO_FORMALIZADO,CO_TIPO_ABRANGENCIA
0,2609602569302,2569302,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF BULTRINS MONTE II,RUA PREFEITO MANOEL REGUEIRA,540,NaN,...,NaN,S,NaN,NaN,M,18/06/2003,NaN,NaN,NaN,NaN
1,2609602571943,2571943,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,UNIDADE MOVEL,RUA DO SOL,311,NaN,...,NaN,N,NaN,NaN,M,18/06/2003,16.0,1.0,NaN,NaN
2,2609602344637,2344637,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ALTO DA MINA,RUA AVENCA,49,NaN,...,NaN,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN
3,2609602344696,2344696,1.040418e+13,3,3,PREFEITURA MUNICIPAL DE OLINDA,USF ILHA DE SANTANA I E II,RUA DA INTEGRACAO,S/N,NaN,...,NaN,S,NaN,NaN,M,30/10/2001,1.0,12.0,NaN,NaN
4,3112002142295,2142295,NaN,3,1,FUNDACAO COMUNITARIA DE SAUDE DE CANDEIAS,HOSPITAL CARLOS CHAGAS,AVENIDA PEDRO VIEIRA DE AZEVEDO,687,NaN,...,NaN,S,NaN,NaN,M,21/03/2002,6.0,9.0,S,NaN
5,3112602121506,2121506,NaN,3,1,LABORATORIO CENTRAL DE CAPINOPOLIS LTDA,LABORATORIO CENTRAL,AV 99,613,NaN,...,NaN,NaN,NaN,NaN,D,12/03/2002,NaN,NaN,NaN,NaN
6,3112902759861,2759861,NaN,3,1,LABORATORIO SANTA HELENA LTDA,LABORATORIO SANTA HELENA,AV MANOEL FRANCISCO DE FREITAS,57,NaN,...,NaN,S,NaN,NaN,M,12/09/2003,18.0,2.0,NaN,NaN
7,2917702533324,2533324,1.398832e+13,3,3,MUNICIPIO DE JAGUARARI,POSTO DE SAUDE DE ABOBORA,POVOADO DE ABOBORA,S/N,TERREO,...,NaN,NaN,NaN,NaN,M,25/07/2003,NaN,NaN,NaN,NaN
8,2923604029542,4029542,1.367549e+13,3,3,MUNICIPIO DE PARAMIRIM,UNIDADE DO PSF DE CANABRAVINHA,DISTRITO DE CANABRAVINHA,S/N,NaN,...,NaN,S,NaN,NaN,M,20/02/2004,1.0,12.0,NaN,3.0
9,4218506433839,6433839,NaN,1,1,CONSULTORIO ODONTOLOGICO JOAO R MARANHA,CONSULTORIO ODONTOLOGICO JOAO R MARANHA,RUA JOSE BONIFACIO,10,1 ANDAR SALA 11,...,NaN,S,NaN,NaN,M,16/02/2010,14.0,26.0,NaN,NaN

In [6]:
# Inserindo esse df no banco de dados sem nenhum tratamento
df_CNES.to_sql('tbEstabelecimento202406', engine, if_exists='append', index=False)

533

### Fazendo a inserÃ§Ã£o do ID (PK) de cada hospital, de acordo com a coluna CNES

In [7]:
## Verificando e existem duplicatas na tabela
df_CNES.duplicated().sum()

0

In [8]:
if (df_CNES.duplicated().sum() > 0):
    print('Existem duplicatas na tabela.')
else:
    print('NÃ£o existem duplicatas na tabela.')
    
    # Adicionando um ID para cada linha
    df_CNES['id'] = range(1, 1 + len(df_CNES))

NÃ£o existem duplicatas na tabela.

In [9]:
# Adicionando o df dos hospitais agora tratado com o id como PK
df_CNES.to_sql('tbEstabelecimento202406_Tratada', engine, if_exists='replace', index=False, dtype={'id': sa.Integer, 'CO_CNES': sa.VARCHAR(7)})

533

#  Exemplo Geral tabela fato

In [ ]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
class tabela_cheia:
    def __init__(self, namebd):
        self.nome_tabela = namebd
        
        self.colunas = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA', 'CEP', 'MUNIC_RES', 'MUNIC_MOV', 
                        'CGC_HOSP', 'CNES', 'NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 
                        'RACA_COR', 'ETNIA', 'CBOR', 'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 
                        'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP',
                        'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 
                        'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
        
    def __str__(self):
        return f'Tabela {self.nome_tabela}'
    
    def cria_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela in metadata.tables:
            print(f'Tabela {self.nome_tabela} jÃ¡ existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).create(conn)
        
    def insere_dados(self, df, conn):
        df.to_sql(self.nome_tabela, conn, if_exists='append', index=False, dtype={
            'ANO_CMPT': sa.VARCHAR(4),
            'MES_CMPT': sa.VARCHAR(2),
            'DT_INTER': sa.VARCHAR(8),
            'DT_SAIDA': sa.VARCHAR(8),
            'CEP': sa.VARCHAR(8),
            'MUNIC_RES': sa.VARCHAR(6),
            'MUNIC_MOV': sa.VARCHAR(6),
            'CGC_HOSP': sa.VARCHAR(16),
            'CNES': sa.VARCHAR(7),
            'NASC': sa.VARCHAR(8),
            'SEXO': sa.VARCHAR(1),
            'IDADE': sa.NUMERIC(2),
            'COD_IDADE': sa.VARCHAR(1),
            'NACIONAL': sa.VARCHAR(3),
            'INSTRU': sa.VARCHAR(1),
            'RACA_COR': sa.VARCHAR(2),
            'ETNIA': sa.VARCHAR(4),
            'CBOR': sa.VARCHAR(6),
            'MORTE': sa.NUMERIC(1),
            'UTI_MES_TO': sa.NUMERIC(3),
            'MARCA_UTI': sa.VARCHAR(2),
            'VAL_UTI': sa.NUMERIC(9,2),
            'PROC_SOLIC': sa.VARCHAR(10),
            'PROC_REA': sa.VARCHAR(10),
            'VAL_SH': sa.NUMERIC(13,2),
            'VAL_SP': sa.NUMERIC(13,2),
            'N_AIH': sa.VARCHAR(13),
            'VAL_TOT': sa.NUMERIC(14,2),
            'INFEHOSP': sa.VARCHAR(1),
            'DIAG_PRINC': sa.VARCHAR(4),
            'DIAG_SECUN': sa.VARCHAR(4),
            'DIAGSEC1': sa.VARCHAR(4),
            'DIAGSEC2': sa.VARCHAR(4),
            'DIAGSEC3': sa.VARCHAR(4),
            'DIAGSEC4': sa.VARCHAR(4),
            'DIAGSEC5': sa.VARCHAR(4),
            'DIAGSEC6': sa.VARCHAR(4),
            'DIAGSEC7': sa.VARCHAR(4),
            'DIAGSEC8': sa.VARCHAR(4),
            'DIAGSEC9': sa.VARCHAR(4),
            'CID_MORTE': sa.VARCHAR(4),
            'CID_ASSO': sa.VARCHAR(4)}
        )
        
    def remove_tabela(self, conn):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if self.nome_tabela not in metadata.tables:
            print(f'Tabela {self.nome_tabela} nÃ£o existe.')
            return
        
        sa.Table(self.nome_tabela, sa.MetaData(),
                sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                sa.Column('MES_CMPT', sa.VARCHAR(2)),
                sa.Column('DT_INTER', sa.VARCHAR(8)),
                sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                sa.Column('CEP', sa.VARCHAR(8)),
                sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                sa.Column('MUNIC_MOV', sa.VARCHAR(6)),
                sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                sa.Column('CNES', sa.VARCHAR(7)),
                sa.Column('NASC', sa.VARCHAR(8)),
                sa.Column('SEXO', sa.VARCHAR(1)),
                sa.Column('IDADE', sa.NUMERIC(2)),
                sa.Column('COD_IDADE', sa.VARCHAR(1)),
                sa.Column('NACIONAL', sa.VARCHAR(3)),
                sa.Column('INSTRU', sa.VARCHAR(1)),
                sa.Column('RACA_COR', sa.VARCHAR(2)),
                sa.Column('ETNIA', sa.VARCHAR(4)),
                sa.Column('CBOR', sa.VARCHAR(6)),
                sa.Column('MORTE', sa.NUMERIC(1)),
                sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                sa.Column('PROC_REA', sa.VARCHAR(10)),
                sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                sa.Column('N_AIH', sa.VARCHAR(13)),
                sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                sa.Column('INFEHOSP', sa.VARCHAR(1)),
                sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                sa.Column('CID_MORTE', sa.VARCHAR(4)),
                sa.Column('CID_ASSO', sa.VARCHAR(4))
        ).drop(conn)

In [ ]:
class fatos:
    def __init__(self, nome_fato):
        lista_fatos = ['Fato InternaÃ§Ã£o', 'Fato Procedimento', 'Fato DiagnÃ³stico', 'Fato Atendimento']
        
        if nome_fato not in lista_fatos:
            raise ValueError('Atributo invÃ¡lido.')
        else:
            self.fato = nome_fato
            
            
        # A criaÃ§Ã£o dos fatos ainda nÃ£o foi pensada de forma completa. Fiz apenas um escopo inicial.
        self.atributos = []
        if self.fato == 'Fato InternaÃ§Ã£o':
            self.atributos = ['N_AIH', 'UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH5', 'IDENT', 'CEP', 
                              'MUNIC_RES', 'NASC', 'SEXO', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 'DIAG_PRINC', 'DIAG_SECUN', 
                              'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 
                              'DIAGSEC9', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT']
        elif self.fato == 'Fato Procedimento':
            self.atributos = ['N_AIH', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT']
        elif self.fato == 'Fato DiagnÃ³stico':
            self.atributos = ['N_AIH', 'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 
                              'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9']
        elif self.fato == 'Fato Atendimento':
            self.atributos = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER',' DT_SAIDA', 'CEP', 'CNES', 'IDADE', 'COD_IDADE', 'SEXO', 
                              'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_TOT',
                              'DIAG_PRINC', 'DIAG_SECUN', 'CID_MORTE', 'CID_ASSO']
            
    def __str__(self):
        return f'Tabela de {self.fato}'
    
    def get_fato(self):
        return self.fato
    
    def get_atributos(self):
        return self.atributos
    
    def cria_fato(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb in metadata.tables:
            print(f'Tabela {namedb} jÃ¡ existe.')
            return
        
        if self.fato == 'Fato InternaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('UF_ZI', sa.VARCHAR(2)),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('ESPEC', sa.VARCHAR(2)),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('N_AIH5', sa.VARCHAR(13)),
                    sa.Column('IDENT', sa.VARCHAR(2)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).create(conn)
            
        elif self.fato == 'Fato Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).create(conn)
            
        elif self.fato == 'Fato DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4))
            ).create(conn)
            
        elif self.fato == 'Fato Atendimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('CNES', sa.VARCHAR(7)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('MORTE', sa.NUMERIC(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).create(conn)
            
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato conhecido.')
        
    def insere_dados(self, df, conn, namedb):
        if self.fato == 'Fato InternaÃ§Ã£o':
            self.insere_dados_internacao(df, conn, namedb)
        elif self.fato == 'Fato Procedimento':
            self.insere_dados_procedimento(df, conn, namedb)
        elif self.fato == 'Fato DiagnÃ³stico':
            self.insere_dados_diagnostico(df, conn, namedb)
        elif self.fato == 'Fato Atendimento':
            self.insere_dados_atendimento(df, conn, namedb)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato conhecido.')
            
    def insere_dados_internacao(self, df, conn, namedb):
        if self.fato == 'Fato InternaÃ§Ã£o':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'UF_ZI': sa.VARCHAR(2),
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'ESPEC': sa.VARCHAR(2),
                'CGC_HOSP': sa.VARCHAR(16),
                'N_AIH5': sa.VARCHAR(13),
                'IDENT': sa.VARCHAR(2),
                'CEP': sa.VARCHAR(8),
                'MUNIC_RES': sa.VARCHAR(6),
                'NASC': sa.VARCHAR(8),
                'SEXO': sa.VARCHAR(1),
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'VAL_UTI': sa.NUMERIC(9,2),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato internaÃ§Ã£o.')
            
    def insere_dados_procedimento(self, df, conn, namedb):
        if self.fato == 'Fato Procedimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato procedimento.')
            
    def insere_dados_diagnostico(self, df, conn, namedb):
        if self.fato == 'Fato DiagnÃ³stico':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'N_AIH': sa.VARCHAR(13),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato diagnÃ³stico.')
            
    def insere_dados_atendimento(self, df, conn, namedb):
        if self.fato == 'Fato Atendimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'DT_INTER': sa.VARCHAR(8),
                'DT_SAIDA': sa.VARCHAR(8),
                'CEP': sa.VARCHAR(8),
                'CNES': sa.VARCHAR(7),
                'IDADE': sa.NUMERIC(2),
                'COD_IDADE': sa.VARCHAR(1),
                'SEXO': sa.VARCHAR(1),
                'MORTE': sa.NUMERIC(1),
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'VAL_TOT': sa.NUMERIC(14,2),
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'CID_MORTE': sa.VARCHAR(4),
                'CID_ASSO': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato atendimento.')
    
    def remove_fato(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} nÃ£o existe.')
            return
        
        if self.fato == 'Fato InternaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('UF_ZI', sa.VARCHAR(2)),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('ESPEC', sa.VARCHAR(2)),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('N_AIH5', sa.VARCHAR(13)),
                    sa.Column('IDENT', sa.VARCHAR(2)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).drop(conn)
            
        elif self.fato == 'Fato Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2))
            ).drop(conn)
            
        elif self.fato == 'Fato DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4))
            ).drop(conn)
            
        elif self.fato == 'Fato Atendimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8)),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('CNES', sa.VARCHAR(7)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('MORTE', sa.NUMERIC(1)),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).drop(conn)
            
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de fato conhecido.')

In [ ]:
class dimensoes:
    def __init__(self, dimensao):
        
        lista_dimensoes = ['DimensÃ£o Tempo', 'DimensÃ£o LocalizaÃ§Ã£o', 'DimensÃ£o Hospital', 'DimensÃ£o Paciente', 
                           'DimensÃ£o UTI', 'DimensÃ£o Procedimento', 'DimensÃ£o DiagnÃ³stico', 'Tabela cheia']
        
        if dimensao not in lista_dimensoes:
            raise ValueError('DimensÃ£o invÃ¡lida.')
        else:
            self.dimensao = dimensao
            
        self.colunas = []
        if self.dimensao == 'DimensÃ£o Tempo':
            self.colunas = ['ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA']
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            self.colunas = ['CEP', 'MUNIC_RES', 'MUNIC_MOV']
        elif self.dimensao == 'DimensÃ£o Hospital':
            self.colunas = ['CGC_HOSP', 'CNES']
        elif self.dimensao == 'DimensÃ£o Paciente':
            self.colunas = ['NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 'RACA_COR', 'ETNIA', 'CBOR', 'MORTE']
        elif self.dimensao == 'DimensÃ£o UTI':
            self.colunas = ['UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI']
        elif self.dimensao == 'DimensÃ£o Procedimento':
            self.colunas = ['PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP']
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            self.colunas = ['DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 
                            'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE', 'CID_ASSO']
            
        
    def __str__(self):
        return f'Tabela de {self.dimensao}'
    
    def get_dimensao(self):
        return self.dimensao
    
    def get_colunas(self):
        return self.colunas
    
    def insere_dados(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Tempo':
            self.insere_dados_tempo(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            self.insere_dados_localizacao(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Hospital':
            self.insere_dados_hospital(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Paciente':
            self.insere_dados_paciente(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o UTI':
            self.insere_dados_uti(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            self.insere_dados_procedimento(df, conn, namedb)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            self.insere_dados_diagnostico(df, conn, namedb)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def insere_dados_tempo(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Tempo':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'ANO_CMPT': sa.VARCHAR(4),
                'MES_CMPT': sa.VARCHAR(2),
                'DT_INTER': sa.VARCHAR(8),
                'DT_SAIDA': sa.VARCHAR(8)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o tempo.')
        
    def insere_dados_localizacao(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'CEP': sa.VARCHAR(8),
                'MUNIC_RES': sa.VARCHAR(6),
                'MUNIC_MOV': sa.VARCHAR(6)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o localizaÃ§Ã£o.')
        
    def insere_dados_hospital(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Hospital':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'CGC_HOSP': sa.VARCHAR(16),
                'CNES': sa.VARCHAR(7)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o hospital.')
        
    def insere_dados_paciente(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Paciente':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'NASC': sa.VARCHAR(8),
                'SEXO': sa.VARCHAR(1),
                'IDADE': sa.NUMERIC(2),
                'COD_IDADE': sa.VARCHAR(1),
                'NACIONAL': sa.VARCHAR(3),
                'INSTRU': sa.VARCHAR(1),
                'RACA_COR': sa.VARCHAR(2),
                'ETNIA': sa.VARCHAR(4),
                'CBOR': sa.VARCHAR(6),
                'MORTE': sa.NUMERIC(1)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o paciente.')
        
    def insere_dados_uti(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o UTI':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'UTI_MES_TO': sa.NUMERIC(3),
                'MARCA_UTI': sa.VARCHAR(2),
                'VAL_UTI': sa.NUMERIC(9,2)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o UTI.')
        
    def insere_dados_procedimento(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o Procedimento':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'PROC_SOLIC': sa.VARCHAR(10),
                'PROC_REA': sa.VARCHAR(10),
                'VAL_SH': sa.NUMERIC(13,2),
                'VAL_SP': sa.NUMERIC(13,2),
                'N_AIH': sa.VARCHAR(13),
                'VAL_TOT': sa.NUMERIC(14,2),
                'INFEHOSP': sa.VARCHAR(1)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o procedimento.')
        
    def insere_dados_diagnostico(self, df, conn, namedb):
        if self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            df.to_sql(namedb, conn, if_exists='append', index=False, dtype={
                'DIAG_PRINC': sa.VARCHAR(4),
                'DIAG_SECUN': sa.VARCHAR(4),
                'DIAGSEC1': sa.VARCHAR(4),
                'DIAGSEC2': sa.VARCHAR(4),
                'DIAGSEC3': sa.VARCHAR(4),
                'DIAGSEC4': sa.VARCHAR(4),
                'DIAGSEC5': sa.VARCHAR(4),
                'DIAGSEC6': sa.VARCHAR(4),
                'DIAGSEC7': sa.VARCHAR(4),
                'DIAGSEC8': sa.VARCHAR(4),
                'DIAGSEC9': sa.VARCHAR(4),
                'CID_MORTE': sa.VARCHAR(4),
                'CID_ASSO': sa.VARCHAR(4)}
            )
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o diagnÃ³stico.')
        
        
    def cria_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb in metadata.tables:
            print(f'Tabela {namedb} jÃ¡ existe.')
            return
        
        if self.dimensao == 'DimensÃ£o Tempo':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('MUNIC_MOV', sa.VARCHAR(6))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Hospital':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('CNES', sa.VARCHAR(7))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Paciente':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('NACIONAL', sa.VARCHAR(3)),
                    sa.Column('INSTRU', sa.VARCHAR(1)),
                    sa.Column('RACA_COR', sa.VARCHAR(2)),
                    sa.Column('ETNIA', sa.VARCHAR(4)),
                    sa.Column('CBOR', sa.VARCHAR(6)),
                    # sa.Column('CBOR', sa.VARCHAR(3)), // O dicionÃ¡rio estÃ¡ com 3 caracteres, mas os dados apresentam 6.
                    sa.Column('MORTE', sa.NUMERIC(1))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o UTI':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('INFEHOSP', sa.VARCHAR(1))
            ).create(conn)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).create(conn)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def remove_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} nÃ£o existe.')
            return
        
        if self.dimensao == 'DimensÃ£o Tempo':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('ANO_CMPT', sa.VARCHAR(4)),
                    sa.Column('MES_CMPT', sa.VARCHAR(2)),
                    sa.Column('DT_INTER', sa.VARCHAR(8)),
                    sa.Column('DT_SAIDA', sa.VARCHAR(8))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o LocalizaÃ§Ã£o':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CEP', sa.VARCHAR(8)),
                    sa.Column('MUNIC_RES', sa.VARCHAR(6)),
                    sa.Column('MUNIC_MOV', sa.VARCHAR(6))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Hospital':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('CGC_HOSP', sa.VARCHAR(16)),
                    sa.Column('CNES', sa.VARCHAR(7))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Paciente':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('NASC', sa.VARCHAR(8)),
                    sa.Column('SEXO', sa.VARCHAR(1)),
                    sa.Column('IDADE', sa.NUMERIC(2)),
                    sa.Column('COD_IDADE', sa.VARCHAR(1)),
                    sa.Column('NACIONAL', sa.VARCHAR(3)),
                    sa.Column('INSTRU', sa.VARCHAR(1)),
                    sa.Column('RACA_COR', sa.VARCHAR(2)),
                    sa.Column('ETNIA', sa.VARCHAR(4)),
                    sa.Column('CBOR', sa.VARCHAR(6)),
                    # sa.Column('CBOR', sa.VARCHAR(3)),
                    sa.Column('MORTE', sa.NUMERIC(1))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o UTI':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('UTI_MES_TO', sa.NUMERIC(3)),
                    sa.Column('MARCA_UTI', sa.VARCHAR(2)),
                    sa.Column('VAL_UTI', sa.NUMERIC(9,2))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o Procedimento':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('PROC_SOLIC', sa.VARCHAR(10)),
                    sa.Column('PROC_REA', sa.VARCHAR(10)),
                    sa.Column('VAL_SH', sa.NUMERIC(13,2)),
                    sa.Column('VAL_SP', sa.NUMERIC(13,2)),
                    sa.Column('N_AIH', sa.VARCHAR(13)),
                    sa.Column('VAL_TOT', sa.NUMERIC(14,2)),
                    sa.Column('INFEHOSP', sa.VARCHAR(1))
            ).drop(conn)
        elif self.dimensao == 'DimensÃ£o DiagnÃ³stico':
            sa.Table(namedb, sa.MetaData(),
                    sa.Column('DIAG_PRINC', sa.VARCHAR(4)),
                    sa.Column('DIAG_SECUN', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC1', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC2', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC3', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC4', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC5', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC6', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC7', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC8', sa.VARCHAR(4)),
                    sa.Column('DIAGSEC9', sa.VARCHAR(4)),
                    sa.Column('CID_MORTE', sa.VARCHAR(4)),
                    sa.Column('CID_ASSO', sa.VARCHAR(4))
            ).drop(conn)
        else:
            raise ValueError('Essa tabela nÃ£o Ã© de dimensÃ£o conhecida.')
        
    def limpando_tabela(self, conn, namedb):
        metadata = sa.MetaData()
        metadata.reflect(bind=conn)
        
        if namedb not in metadata.tables:
            print(f'Tabela {namedb} nÃ£o existe.')
            return
        
        conn.execute(f"DELETE FROM {namedb}")

In [ ]:
# ConfiguraÃ§Ãµes da conexÃ£o
usuario = 'postgres'
senha = '123,258D'
host = 'localhost'
porta = '5432'
banco_de_dados = 'my_test'

# URL de conexÃ£o
url = f"postgresql://{usuario}:{senha}@{host}:{porta}/{banco_de_dados}"

# Criar o engine
engine = sa.create_engine(url)

# Teste a conexÃ£o
try:
    connection = engine.connect()
    print("ConexÃ£o bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")
finally:
    connection.close()

In [ ]:
df = pd.read_csv('/home/ferdanielinux/desktop-linux/scripts-python/proj-aires/Dados/SIH/csv/concat/concat_RDSP02_filtered.csv', sep=';', encoding='latin1')

In [ ]:
df.head()

In [ ]:
tabela_fato = fatos('Fato Atendimento')

In [ ]:
df_atendimento = df.filter(items = tabela_fato.get_atributos())

In [ ]:
tabela_fato.cria_fato(engine, 'fato_atendimento')

In [ ]:
tabela_fato.insere_dados(df_atendimento, engine, 'fato_atendimento')

In [ ]:
tabela_fato.remove_fato(engine, 'fato_atendimento')

### Consultas em sql

1. Valor total
```sql
SELECT *
FROM my_test.public.FATO_ATENDIMENTO
WHERE "DIAG_PRINC" = 'A021' OR "DIAG_SECUN" = 'A021'
   OR "DIAG_PRINC" = 'A039' OR "DIAG_SECUN" = 'A039'
   OR "DIAG_PRINC" = 'A207' OR "DIAG_SECUN" = 'A207'
   OR "DIAG_PRINC" = 'A217' OR "DIAG_SECUN" = 'A217'
   OR "DIAG_PRINC" = 'A227' OR "DIAG_SECUN" = 'A227'
   OR "DIAG_PRINC" = 'A239' OR "DIAG_SECUN" = 'A239'
   OR "DIAG_PRINC" = 'A241' OR "DIAG_SECUN" = 'A241'
   OR "DIAG_PRINC" = 'A267' OR "DIAG_SECUN" = 'A267'
   OR "DIAG_PRINC" = 'A280' OR "DIAG_SECUN" = 'A280'
   OR "DIAG_PRINC" = 'A282' OR "DIAG_SECUN" = 'A282'
   OR "DIAG_PRINC" = 'A327' OR "DIAG_SECUN" = 'A327'
   OR "DIAG_PRINC" = 'A392' OR "DIAG_SECUN" = 'A392'
   OR "DIAG_PRINC" = 'A393' OR "DIAG_SECUN" = 'A393'
   OR "DIAG_PRINC" = 'A394' OR "DIAG_SECUN" = 'A394'
   OR "DIAG_PRINC" = 'A40'  OR "DIAG_SECUN" = 'A40'
   OR "DIAG_PRINC" = 'A400' OR "DIAG_SECUN" = 'A400'
   OR "DIAG_PRINC" = 'A401' OR "DIAG_SECUN" = 'A401'
   OR "DIAG_PRINC" = 'A402' OR "DIAG_SECUN" = 'A402'
   OR "DIAG_PRINC" = 'A403' OR "DIAG_SECUN" = 'A403'
   OR "DIAG_PRINC" = 'A408' OR "DIAG_SECUN" = 'A408'
   OR "DIAG_PRINC" = 'A409' OR "DIAG_SECUN" = 'A409'
   OR "DIAG_PRINC" = 'A41'  OR "DIAG_SECUN" = 'A41'
   OR "DIAG_PRINC" = 'A410' OR "DIAG_SECUN" = 'A410'
   OR "DIAG_PRINC" = 'A411' OR "DIAG_SECUN" = 'A411'
   OR "DIAG_PRINC" = 'A412' OR "DIAG_SECUN" = 'A412'
   OR "DIAG_PRINC" = 'A413' OR "DIAG_SECUN" = 'A413'
   OR "DIAG_PRINC" = 'A414' OR "DIAG_SECUN" = 'A414'
   OR "DIAG_PRINC" = 'A415' OR "DIAG_SECUN" = 'A415'
   OR "DIAG_PRINC" = 'A418' OR "DIAG_SECUN" = 'A418'
   OR "DIAG_PRINC" = 'A419' OR "DIAG_SECUN" = 'A419'
   OR "DIAG_PRINC" = 'A427' OR "DIAG_SECUN" = 'A427'
   OR "DIAG_PRINC" = 'B007' OR "DIAG_SECUN" = 'B007'
   OR "DIAG_PRINC" = 'B377' OR "DIAG_SECUN" = 'B377'
   OR "DIAG_PRINC" = 'P352' OR "DIAG_SECUN" = 'P352'
   OR "DIAG_PRINC" = 'P36'  OR "DIAG_SECUN" = 'P36'
   OR "DIAG_PRINC" = 'P360' OR "DIAG_SECUN" = 'P360'
   OR "DIAG_PRINC" = 'P361' OR "DIAG_SECUN" = 'P361'
   OR "DIAG_PRINC" = 'P362' OR "DIAG_SECUN" = 'P362'
   OR "DIAG_PRINC" = 'P363' OR "DIAG_SECUN" = 'P363'
   OR "DIAG_PRINC" = 'P364' OR "DIAG_SECUN" = 'P364'
   OR "DIAG_PRINC" = 'P365' OR "DIAG_SECUN" = 'P365'
   OR "DIAG_PRINC" = 'P368' OR "DIAG_SECUN" = 'P368'
   OR "DIAG_PRINC" = 'P369' OR "DIAG_SECUN" = 'P369'
   OR "DIAG_PRINC" = 'P372' OR "DIAG_SECUN" = 'P372'
   OR "DIAG_PRINC" = 'P375' OR "DIAG_SECUN" = 'P375';
```

2. Quantidade de CIDs por ano
```sql
Ainda falta consertar
SELECT "ANO_CMPT", COUNT(*) AS NUM_INTERNACOES
FROM fato_atendimento
GROUP BY "ANO_CMPT";
```

# asd