# Filtragem dos arquivos csv
Essa filtragem é necessária para que seja trabalhado apenas com os atributos de interesse. Também poderá ser feita a remoção de algumas linhas para que não seja necessário um alto consumo de processamento.

## Variáveis de interesse

In [11]:


var_interesse_ordenada = [
    'ANO_CMPT', 'MES_CMPT', 'DT_INTER', 'DT_SAIDA', 'CEP', 'MUNIC_RES', 'MUNIC_MOV', 
    'CGC_HOSP', 'CNES', 'NASC', 'SEXO', 'IDADE', 'COD_IDADE', 'NACIONAL', 'INSTRU', 
    'RACA_COR', 'ETNIA', 'CBOR', 'MORTE', 'UTI_MES_TO', 'MARCA_UTI', 'VAL_UTI', 
    'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'N_AIH', 'VAL_TOT', 'INFEHOSP', 
    'IND_VDRL', 'DIAG_PRINC', 'DIAG_SECUN', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 
    'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'CID_MORTE'
]

## Filtragem

In [12]:
nomes = [
    'RDSP1402',
    'RDSP1502',
    'RDSP1602',
    'RDSP1702',
    'RDSP1802',
    'RDSP1902',
    'RDSP2002',
    'RDSP2102',
    'RDSP2202',
    'RDSP2302',
    'RDSP2402'
]

len(nomes)

11

In [13]:
import pandas as pd

In [14]:
caminho_base = '/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/fevereiro/'

In [15]:
data_frames = []

### Inserindo todos os dfs em uma lista

In [16]:
for nome in nomes:
    caminho_csv = f'{caminho_base}{nome}.csv'
    df = pd.read_csv(caminho_csv, sep=';', encoding='latin-1', usecols=var_interesse_ordenada, nrows=100)
    data_frames.append(df)
    
len(data_frames)

11

## Concatenando e transformando o df em csv

In [17]:
concat_dfs = pd.concat(data_frames, ignore_index=True)

In [18]:
concat_dfs

,ANO_CMPT,MES_CMPT,CGC_HOSP,N_AIH,CEP,MUNIC_RES,NASC,SEXO,UTI_MES_TO,MARCA_UTI,...,ETNIA,DIAGSEC1,DIAGSEC2,DIAGSEC3,DIAGSEC4,DIAGSEC5,DIAGSEC6,DIAGSEC7,DIAGSEC8,DIAGSEC9
0,2014,2,4.547486e+13,3508104002304,18170000,353780,19420515,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,2,5.322126e+13,3508103715138,15155000,352450,19750331,3,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,2,5.322126e+13,3508103715149,15155000,352450,19770522,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,2,5.636381e+13,3514102196297,15570000,351070,19801017,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,2,5.315030e+13,3514102167609,15440000,353300,20130712,3,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,2024,2,4.915035e+13,3524100559947,79740000,500470,19510721,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,2024,2,4.915035e+13,3524100560057,65907050,210530,20061108,1,4,76,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,2024,2,4.915035e+13,3524100560409,75870000,520410,19480908,3,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,2024,2,4.915035e+13,3524100560519,15409899,353390,19601201,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,2024,2,4.915035e+13,3524100560630,12995000,353820,19650621,1,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
resumo_fev = concat_dfs.to_csv('/home/ferdanielinux/desktop-linux/scripts-python/proj-aries/Dados/csv/fevereiro/concat_fev_ord.csv', sep=';', index=False, encoding='latin-1')